<div class="dark-layer">
  <div class="wrapper">

    <h2 *ngIf="category" routerLink="/categorias" class="titulo">{{category.name | titlecase}}</h2>
    <div class="search-box">
      <input class="search-box-input" type="search" (input)="search()" [(ngModel)]="searchText" />
      <div *ngIf="!searchText" class="search-box-placeholder-wrapper">
        <fa-icon [icon]="faSearch" class="search-box-placeholder"></fa-icon>
        <span>&nbsp;Busca un producto</span>
      </div>
    </div>

    <app-scroll-to-top class="scroll-top" [@inAnimation] (click)="scrollToTop()" *ngIf="windowScrolled"></app-scroll-to-top>
    <main #viewport class="viewport" (scroll)="onScroll($event)" autosize>
      <ngb-pagination *ngIf="productsToShow.maxPages" size="sm" (pageChange)="changePage($event)" class="mobile-pagination justify-content-center" [collectionSize]="(maxPages * 10)" [maxSize]="3" [rotate]="true" [ellipses]="true" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
      <ngb-pagination *ngIf="productsToShow.maxPages" (pageChange)="changePage($event)" class="desktop-pagination justify-content-center" [collectionSize]="(maxPages * 10)" [maxSize]="3" [rotate]="true" [ellipses]="true" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

      <h2 [@inAnimation] *ngIf="!productsToShow.maxPages" class="text-light text-center pt-5">No se encontraron productos. . .</h2>
      <div *ngIf="productsToShow" class="products-container">
        <div *ngFor="let product of productsToShow.products" class="product-card">
          <div class="img-container">
            <img [src]="product.imagen" [alt]="product.nombre">
            <div class="price-tag">
              <p>{{product.precio}}€</p>
            </div>
            <div [@inAnimation] *ngIf="product.cantidad === 1" class="cantidad-tag">
              <p>{{product.cantidad}} Agregado</p>
            </div>
            <div [@inAnimation] *ngIf="product.cantidad > 1" class="cantidad-tag">
              <p>{{product.cantidad}} Agregados</p>
            </div>
          </div>
          <div class="product-texts">
            <p>{{product.marca}}</p>
            <p>{{product.nombre}}</p>
            <p>{{product.descripcion}} </p>
          </div>
          <button (click)="addProduct(product)" class="mi-boton btn btn-info">Añadir</button>
        </div>
      </div>
      <ngb-pagination *ngIf="productsToShow.maxPages" size="sm" (pageChange)="changePage($event)" class="mobile-pagination justify-content-center" [collectionSize]="(maxPages * 10)" [maxSize]="3" [rotate]="true" [ellipses]="true" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
      <ngb-pagination *ngIf="productsToShow.maxPages" (pageChange)="changePage($event)" class="desktop-pagination justify-content-center" [collectionSize]="(maxPages * 10)" [maxSize]="3" [rotate]="true" [ellipses]="true" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
    </main>
  </div>
</div>