<div class="dark-layer">
  <div class="wrapper">
    <h2 class="titulo">Categorías</h2>
    <div class="contenedor">
      <div class="contenedor-categorias">
        <perfect-scrollbar [config]="config">
          <ul>
            <li (click)="selectCategory(0)" routerLink="/productos" (mouseenter)="changeImage()">-Todos Los Productos</li>
            <li (click)="selectCategory(category.id)" routerLink="/productos" *ngFor="let category of categories" (mouseenter)="changeImage(category.image)">- {{category.name |titlecase}}</li>
          </ul>
        </perfect-scrollbar>
      </div>
      <div class="contenedor-imagen">
        <img [@fade]="state" src="{{categoryImage}}" alt="">
      </div>
    </div>
  </div>
</div>