<div class="dark-layer">
  <div class="wrapper">
    <h2 class="titulo">Categorías</h2>
    <div class="contenedor">
      <div class="contenedor-categorias">
        <perfect-scrollbar [config]="config">
          <ul>
            <li routerLink="/productos" *ngFor="let category of categories" (mouseenter)="changeImage()">- {{category}}</li>
          </ul>
        </perfect-scrollbar>
      </div>
      <div class="contenedor-imagen">
        <img [@fade]="state" src="{{categoryImage}}" alt="">
      </div>
    </div>
  </div>
</div>