<div class="dark-layer">
  <div class="wrapper">
    <ngb-alert [@bsInAnimation] class="success-alert" #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">{{ successMessage }}
    </ngb-alert>

    <div class="container-list">
      <h3 *ngIf="nombreLista">{{nombreLista}}</h3>
      <h3 *ngIf="!nombreLista">Mi Lista</h3>
      <hr>
      <div class="lista-productos">
        <ul>
          <li *ngFor="let product of productsInList">
            <fa-icon (click)="deleteElement(product)" class="text-danger delete-element width-10" [icon]="faTrashAlt"></fa-icon>
            <span placement="top" [ngbTooltip]="product.nombre" triggers="click:blur hover" class="nombre-producto">{{product.nombre}}</span>
            <fa-icon (click)="minusOneElement(product)" class="text-warning delete-element width-10" [icon]="faMinus"></fa-icon>
            <span class="width-10">x{{product.cantidad}}</span>
            <span class="width-10">{{product.cantidad * product.precio |number:'.2'}}€</span>
          </li>
        </ul>
      </div>
      <div class="div-total">
        <div>TOTAL</div>
        <div>{{total | number:'.0-2'}}€</div>
      </div>
      <div class="div-presupuesto">
        <div>Presupuesto</div>
        <div>{{presupuesto | number:'.0-2'}}€</div>
      </div>
      <div class="div-resultado">
        <div>Gasto</div>
        <div *ngIf="presupuesto" [ngClass]="{'text-danger': presupuesto < total, 'text-success': presupuesto > total}">{{presupuesto - total | number:'.0-2'}}€</div>
      </div>
      <div class="footer">
        <div class="footer-control">
          <div class="nombre-lista">
            <label>Nombre de Lista</label>
            <input [(ngModel)]="nombreLista" type="text">
          </div>
          <div class="presupuesto-lista">
            <label>Establece presupuesto</label>
            <input [(ngModel)]="presupuesto" step="0.01" type="number">
          </div>
        </div>
        <div class="button-container">
          <button (click)="onGuardarLista()" [disabled]="!productsInList.length" class="guardar-button mi-boton btn btn-primary">Guardar Lista</button>
        </div>
      </div>
    </div>

  </div>

</div>