div.container-list{
  background-color: whitesmoke;
  width: 80%;
  margin: 2em auto;
  max-width: 600px;
  padding: 1em 0.5em 2em;
  -webkit-box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.75);
}

div.dark-layer {
  padding: 1px;
}

@media(max-width: 400px){
  div.container-list{
    width: 95%;
  }
}

div.container-list h3{
  text-align: center;
  margin: auto;
  padding: 0.25em;
}

div.container-list hr{
  margin: 0.5rem auto;
  border-top: 0.25rem solid var(--neutral-color);
  width: 80%;
}

.lista-productos ul{
  display: flex;
  padding: 1em 0;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.lista-productos ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;

}

.lista-productos ul li fa-icon,
.lista-productos ul li span{
  margin: 0 0.25rem;
}

.lista-productos ul li fa-icon.delete-element{
  cursor: pointer;
  transition: opacity ease-in-out 150ms;
}
.lista-productos ul li fa-icon.delete-element:hover{
  opacity: 0.5;
}

span.nombre-producto{
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  cursor: pointer;

}

.width-10{
  width: 10%;
}

div.div-total, div.div-presupuesto, div.div-resultado{
  border-top: 0.25rem solid var(--neutral-color);
  border-bottom: 0.25rem solid var(--neutral-color);
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 0 5%;
}

div.div-presupuesto, div.div-resultado{
  border-top: 0;
}

div.div-total div, div.div-presupuesto div, div.div-resultado div{
  font-size: 1.2rem;
  padding: 0.25em;
  font-weight: 700;

}
div.div-total div:first-child, div.div-presupuesto div:first-child, div.div-resultado div:first-child{
  overflow: hidden;
  text-overflow: ellipsis;
}

div.container-list button{
  margin: 1em auto;
  width: unset;
  height: 2rem;
}

div.container-list div.footer input{
width: 100%;
max-width: 150px;
}

div.footer{
  display: flex;
flex-wrap: wrap;
align-content: center;
align-items: center;
}

div.footer-control{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 1em;
  width: 100%;
}

div.button-container{
  width: 100%;
}



@media(min-width: 520px){
  div.footer-control{
    width: 50%;
  }
  div.button-container{
    width: 50%;
  }
}

div.footer-control .nombre-lista, div.footer-control .presupuesto-lista{
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding-bottom: 1em;

}
