/********************************************** RESET **************************************************/
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

/********************************************* /RESET **************************************************/

/*********************************************** Imports ******************************************** **** */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*********************************************** /Imports ******************************************** **** */

/********************************************* Variables ************************************************* */

:root {

	
	--primary-color: #2A4420;
	--primary-color-hover: #457535;
	--secondary-color: #969A24;
	--secondary-color-hover: #bec24e;
	--light-font: #DDE2A2;
	--neutral-color: #707070;
	--font: 'Lato', sans-serif;
}





/********************************************* /Variables ************************************************* */

*{
	font-family: var(--font);
}

body{
	background-color: var(--primary-color);
	background-image: url('/assets/images/fondo.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


div.wrapper{
	max-width: 2200px;	
	
}

div.dark-layer{
	background-color: rgba(9, 12, 7, 0.43);
	position: relative;
}