.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;

  transition: all .2s ease-in-out;
  background-color: var(--secondary-color);
  border-radius: 7px;
 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }

 .scroll-to-top fa-icon{
   color: var(--primary-color);
   transition: color ease-in-out 150ms;
 }
 .scroll-to-top:hover fa-icon{
   color: whitesmoke;
 }

 .scroll-to-top:hover, .scroll-to-top:focus, .scroll-to-top:active{
  background-color: var(--secondary-color-hover);
 }