div.container-list{
  background-color: whitesmoke;
  width: 80%;
  margin: 2em auto;
  max-width: 600px;
  padding: 1em 0.5em 2em;
  -webkit-box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 3px rgba(0,0,0,0.75);
}

@media(max-width: 400px){
  div.container-list{
    width: 95%;
  }
}

div.container-list h3{
  text-align: center;
  margin: auto;
  padding: 0.25em;
}

div.container-list hr{
  margin: 0.5rem auto;
  border-top: 0.25rem solid var(--neutral-color);
  width: 80%;
}

.lista-productos ul{
  display: flex;
  padding: 1em 0;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.lista-productos ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  position: relative;

}

.lista-productos ul li div.super-line{
  position: absolute;
  display: block !important;
  top: 50%;
  height: 2px;
  width:100%;
  background-color: black;

}


.lista-productos ul li span{
  margin: 0 0.25rem;
}

.lista-productos ul li.selected-item {
  color: rgba(0, 0, 0, 0.5)
}

.lista-productos ul li input[type="checkbox"]{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="checkbox"].slected-check{
  opacity: 0.5;
}



span.nombre-producto{
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  cursor: pointer;

}

.width-10{
  width: 10%;
}

div.div-total{
  border-top: 0.25rem solid var(--neutral-color);
  border-bottom: 0.25rem solid var(--neutral-color);
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 0 5%;
}



div.div-total div{
  font-size: 1.2rem;
  padding: 0.25em;
  font-weight: 700;

}
div.div-total div:first-child{
  overflow: hidden;
  text-overflow: ellipsis;
}

div.container-list button{
  margin: 1em auto;
  width: unset;
  height: 2rem;
}


div.button-container{
  width: 100%;
}




